*{
    font-family: 'EB Garamond', serif;
}
.cu-bg-set{ 
    height:72.5vh;
    width: 100%;
    background:url(../images/Rectangle-6.png),url(../images/Rectangle-7.png);
    background-repeat: no-repeat;
    background-position: right;
}